<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>